/* Code almost entirely, taken from https://github.com/klpod221/klpod0s */

* {
    background-image: none;
}

window {
    background-color: rgba(31, 35, 40, 0.8);
}

button {
    color: #FFFFFF;
    background-color: #101419;
    outline-style: none;
    border: solid 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: #40C287;
    background-size: 30%;
}

button:hover {
    background-color: #40C287;
    background-size: 40%;
    border-radius: 16px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.2s cubic-bezier(.55,0.0,.28,1.682);
}

/* Fixed Selectors: ID should usually come before state or simply #id:hover */
#logout:hover {
    border-radius: 16px;
    margin : 1px 0px 1px 0px;
}

#suspend:hover {
    border-radius: 16px;
    margin : 1px 0px 1px 0px;
}

#shutdown:hover {
    border-radius: 16px;
    margin : 1px 0px 1px 0px;
}

#reboot:hover {
    border-radius: 16px;
    margin : 1px 10px 1px 0px;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 10px 0px 10px 0px;
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 10px 0px 10px 0px;
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 10px 0px 10px 0px;
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    border-radius: 0px 18px 18px 0px;
    margin : 10px 10px 10px 0px;
}
